@font-face {
	font-family: 'OrbitronLight';
	src: url('#{$fontpath}/orbitron-light-webfont.eot');
	src: local('☺'), url('#{$fontpath}/orbitron-light-webfont.woff') format('woff'), url('#{$fontpath}/orbitron-light-webfont.ttf') format('truetype'), url('#{$fontpath}/orbitron-light-webfont.svg#webfontNf2mpIIK') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OrbitronMedium';
	src: url('#{$fontpath}/orbitron-medium-webfont.eot');
	src: local('☺'), url('#{$fontpath}/orbitron-medium-webfont.woff') format('woff'), url('#{$fontpath}/orbitron-medium-webfont.ttf') format('truetype'), url('#{$fontpath}/orbitron-medium-webfont.svg#webfont5FiGFJOa') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OrbitronBold';
	src: url('#{$fontpath}/orbitron-bold-webfont.eot');
	src: local('☺'), url('#{$fontpath}/orbitron-bold-webfont.woff') format('woff'), url('#{$fontpath}/orbitron-bold-webfont.ttf') format('truetype'), url('#{$fontpath}/orbitron-bold-webfont.svg#webfont32gkeZjD') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OrbitronBlack';
	src: url('#{$fontpath}/orbitron-black-webfont.eot');
	src: local('☺'), url('#{$fontpath}/orbitron-black-webfont.woff') format('woff'), url('#{$fontpath}/orbitron-black-webfont.ttf') format('truetype'), url('#{$fontpath}/orbitron-black-webfont.svg#webfontZfdcvyv5') format('svg');
	font-weight: normal;
	font-style: normal;
}
